body {
	font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    top: 15%;
    background: linear-gradient(to right, rgb(247, 80, 197) , rgb(215, 252, 8));
}
h1 {
    font: 600 3em 'Raleway';
    width: 100%;
    margin-top: 3vh;
}
input {
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    width: 10vw;
    height: 8vh;
    
}
input[type=color]::-webkit-color-swatch{
    border-radius: 3px;
    border: none;
}

h2{
    font: 600 2em 'Raleway';
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0.01em;

}
div {
    height: 40vh;
}

@media only screen and (max-width:640px){
    h1, h2, h3 {
        font-size: 120%;
        margin-top: 10vh;
    }
    div {
        height: 30vh;
    }
}
